* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url(./ramzan.avif);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    color: #333;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logo{
    position: absolute;
    left: 0;
    top: 0%;
    width: 20%;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #00ffea;
}
.chuto{
    font-size: small;
    color: #004540;
}
.main{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 4px;
}

.container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 500px;
    transition: transform 0.3s;
}

.container:hover {
    transform: scale(1.05);
}

h2 {
    font-size: 2em;
    margin: 10px 0;
    color: #007bff;
}

span {
    font-weight: bold;
    color: #000000; /* A vibrant color for the numbers */
}

@media (max-width: 400px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }
}
